// TODO: headerのレスポンシブを作成する。

body {
  color: #000;
  font-family: Arial;
}

.navbar {
  padding: 2rem 5rem;
}

.nav-item {
  margin-right: 3rem;

  &:last-child {
    margin-right: 0;
  }
}

.nav-link {
  color: #000;
  font-size: 1rem;
  font-weight: bold;
}