%btn-basic {
  border-radius: 0.5rem;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: inherit;
  margin: 0;
  padding: 2rem 10rem;
  transition: 0.3s;

  @include mq(sm-max) {
    font-size: 0.75rem;
    padding: 1rem 5rem;
  }
}

.btn-primary {
  @extend %btn-basic;

  background-color: $btn-normal;
  border: 0.15rem solid $btn-normal;
  color: $white;

  &:hover {
    background-color: $btn-hover;
    border-color: $btn-hover;
  }
}

.btn-secondary {
  @extend %btn-basic;

  background-color: $white;
  border: 0.15rem solid $btn-normal;
  color: $btn-normal;

  &:hover {
    background-color: $btn-hover;
    border-color: $btn-hover;
    color: $white;
  }
}

