img {
  border-style: none;
  vertical-align: middle;
  width: 100%;
}

.image-box {
  display: flex;
  margin-top: 3rem;
  object-fit: cover;
  width: 100%;

  .img-works {
    border-radius: 1rem;
    box-shadow: 0 0 1rem gray;
    margin-bottom: 1rem;
  }
}

