.container {
  height: 100%;
  width: 100%;

  @media (min-width: 992px) {
    margin: 0 auto;
    max-width: 120rem;
  }

  header {
    padding: 4rem 3rem;

    @media (min-width: 992px) {
      padding: 4rem 0;
    }
  }
}