/**
 * default.css(v1.0) 2019/05/10
 * edited by AKIHIDE Egashira
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue";
  font-size: 62.5%;
  height: 100%;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  color: $color-primary;
  font-family: "YuGothic", "Avenir Next";
  font-size: 1rem;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.8;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

/* other */
a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

// custom style
.img-unabled {
  filter: grayscale(100%);
}