.contents {
  margin: 0;
  padding: 0;
  width: 100%;

  &:nth-of-type(n+2) {
    margin-top: 2rem;
  }

  @include mq() {
    width: 95%;
  }

  .contents-title {
    @include mq(md-max) {
      margin-top: 1rem;
    }

  }

  .contents-subtitle {
    margin-top: -0.5rem;

    @include mq(md-max) {
      font-size: 0.75rem;
      line-height: 1rem;
    }
  }

  .contents-text {
    margin-top: 1rem;
  }

  .-under {
    text-decoration: underline;
  }
}