.contents {
  margin: 0;
  padding: 0;
  width: 95%;

  .contents-title {

  }

  .contents-subtitle {
    margin-top: -0.5rem;
  }

  .contents-text {
    margin-top: 1rem;
  }

  .-under {
    text-decoration: underline;
  }
}